PEPIDI-0.5/.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db
PEPIDI-0.5/.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db
PEPIDI-0.5/.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db-shm
*.db
.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db
/.vs/PEPIDI-0.5/CopilotIndices
/.vs/PEPIDI-0.5/CopilotIndices
/.vs/PEPIDI-0.5/CopilotIndices
.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db
