PEPIDI-0.5/.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db
PEPIDI-0.5/.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db
PEPIDI-0.5/.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db-shm
*.db
.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db
/.vs/PEPIDI-0.5/CopilotIndices
/.vs/PEPIDI-0.5/CopilotIndices
/.vs/PEPIDI-0.5/CopilotIndices
.vs/PEPIDI-0.5/CopilotIndices/17.14.1347.20289/CodeChunks.db
.vs/slnx.sqlite
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/26898ce7-01af-4797-926d-39ca2250ab17.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/32395842-29bd-49ec-b16d-731a3e168bd4.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/53cd6217-4ae6-428e-a8e5-5f1c3d4d5382.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/78e489e0-f2c1-4ba6-a6df-953cd1152f71.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/986b730a-11c4-47de-bb39-de0be1ed5b16.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/a513677d-57e8-4e3a-a7d8-716e80e7c4aa.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/f85986f9-11be-4285-8563-fa7198686c67.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/1c484b5f-c8af-4bc2-9562-7d59bf1a8bd2.vsidx
.vs/slnx.sqlite
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/53cd6217-4ae6-428e-a8e5-5f1c3d4d5382.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/78e489e0-f2c1-4ba6-a6df-953cd1152f71.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/986b730a-11c4-47de-bb39-de0be1ed5b16.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/a513677d-57e8-4e3a-a7d8-716e80e7c4aa.vsidx
.vs/slnx.sqlite
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/53cd6217-4ae6-428e-a8e5-5f1c3d4d5382.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/78e489e0-f2c1-4ba6-a6df-953cd1152f71.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/986b730a-11c4-47de-bb39-de0be1ed5b16.vsidx
PEPIDI-0.5/.vs/PEPIDI/FileContentIndex/a513677d-57e8-4e3a-a7d8-716e80e7c4aa.vsidx
