USE [PEPIDI]
GO
/****** Object:  Table [dbo].[AcessoFuncoes]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcessoFuncoes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AcessoID] [int] NOT NULL,
	[FuncaoID] [int] NOT NULL,
 CONSTRAINT [PK_AcessoFuncoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Acessos]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acessos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Definicoes]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Definicoes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Chave] [nvarchar](100) NOT NULL,
	[Valor] [nvarchar](500) NULL,
	[Tipo] [nvarchar](20) NULL,
	[DataAlteracao] [datetime] NULL,
	[AlteradoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Chave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dispositivos]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dispositivos](
	[IDDispositivo] [int] IDENTITY(1,1) NOT NULL,
	[NomePC] [nvarchar](100) NOT NULL,
	[UltimoLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDispositivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EPI]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EPI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Familia] [nvarchar](20) NOT NULL,
	[Modelo] [nvarchar](100) NOT NULL,
	[Tamanho] [nvarchar](20) NOT NULL,
	[Acesso] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
	[Preco] [decimal](10, 2) NULL,
 CONSTRAINT [PK__EPI__3214EC27CE4885EA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuncionarioDispositivo]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuncionarioDispositivo](
	[IDFuncionario] [int] NOT NULL,
	[IDDispositivo] [int] NOT NULL,
	[RecebeNotificacoes] [bit] NOT NULL,
	[DataDefinicao] [datetime] NOT NULL,
 CONSTRAINT [PK_FuncionarioDispositivo] PRIMARY KEY CLUSTERED 
(
	[IDFuncionario] ASC,
	[IDDispositivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[Nr] [int] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Funcao] [int] NOT NULL,
	[TShirt] [nvarchar](20) NULL,
	[Casaco] [nvarchar](20) NULL,
	[PoloMCurta] [nvarchar](20) NULL,
	[PoloMCompr] [nvarchar](20) NULL,
	[Calca] [nvarchar](20) NULL,
	[Sapato] [nvarchar](20) NULL,
	[DtAdmiss] [date] NULL,
	[Estab] [nvarchar](100) NULL,
	[CriacaoData] [datetime] NOT NULL,
	[CriadoPor] [int] NULL,
	[AlteracaoData] [datetime] NULL,
	[AlteradoPor] [int] NULL,
 CONSTRAINT [PK__Funciona__3214D4AD70BFF87C] PRIMARY KEY CLUSTERED 
(
	[Nr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcoes]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcoes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[PodeVerStock] [bit] NULL,
	[PodeCriarStock] [bit] NULL,
	[PodeInserirStock] [bit] NULL,
	[PodeEditarFunc] [bit] NULL,
	[PodeSubmeter] [bit] NULL,
	[PodeAprovar] [bit] NULL,
	[PodeEntregar] [bit] NULL,
	[PodeCriarFuncoes] [bit] NULL,
	[PodeAlterarDefinicoes] [bit] NULL,
	[CorHex] [nchar](10) NULL,
	[CriadoEm] [datetime2](0) NULL,
	[CriadoPor] [int] NULL,
	[AlteradoEm] [datetime2](0) NULL,
	[AlteradoPor] [int] NULL,
 CONSTRAINT [PK__Funcoes__3214EC274B9C5F99] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Funcoes__7D8FE3B2CDF21C15] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogIn]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogIn](
	[Nr] [int] NOT NULL,
	[Password] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoPacote]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoPacote](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPedReg] [int] NOT NULL,
	[IDEPI] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK__PedidoPa__3214EC27D463FFBB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoRegistos]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoRegistos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Data] [date] NOT NULL,
	[NrFunc] [int] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Aprovacao] [int] NULL,
	[Entrega] [int] NULL,
	[PDF] [nchar](100) NULL,
	[Notas] [nvarchar](max) NULL,
	[CriacaoData] [datetime] NOT NULL,
	[CriadoPor] [int] NULL,
	[AlteracaoData] [datetime] NULL,
	[AlteradoPor] [int] NULL,
 CONSTRAINT [PK__PedidoRe__3214EC27B89AF0E7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Query]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Query](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](20) NULL,
	[Query] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Query] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegrasFamilia]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegrasFamilia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PalavraChave] [nvarchar](100) NOT NULL,
	[FamiliaDestino] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roupa]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roupa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Familia] [nchar](20) NOT NULL,
	[Modelo] [nchar](20) NOT NULL,
	[Tamanho] [nchar](10) NOT NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK_Roupa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoupaPacote]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoupaPacote](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPedReg] [int] NOT NULL,
	[IDRoupa] [int] NOT NULL,
	[Quantidade] [int] NOT NULL,
 CONSTRAINT [PK_RoupaPacote] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EPI] ADD  DEFAULT ((0)) FOR [Preco]
GO
ALTER TABLE [dbo].[FuncionarioDispositivo] ADD  DEFAULT ((0)) FOR [RecebeNotificacoes]
GO
ALTER TABLE [dbo].[FuncionarioDispositivo] ADD  DEFAULT (getdate()) FOR [DataDefinicao]
GO
ALTER TABLE [dbo].[Funcionarios] ADD  CONSTRAINT [DF_Funcionarios_CriacaoData]  DEFAULT (getdate()) FOR [CriacaoData]
GO
ALTER TABLE [dbo].[Funcoes] ADD  CONSTRAINT [DF_Funcoes_PodeVerStock]  DEFAULT ((0)) FOR [PodeVerStock]
GO
ALTER TABLE [dbo].[Funcoes] ADD  CONSTRAINT [DF_Funcoes_PodeInserirStock]  DEFAULT ((0)) FOR [PodeInserirStock]
GO
ALTER TABLE [dbo].[Funcoes] ADD  CONSTRAINT [DF_Funcoes_PodeEditarFunc]  DEFAULT ((0)) FOR [PodeEditarFunc]
GO
ALTER TABLE [dbo].[Funcoes] ADD  CONSTRAINT [DF_Funcoes_PodeSubmeter]  DEFAULT ((1)) FOR [PodeSubmeter]
GO
ALTER TABLE [dbo].[Funcoes] ADD  CONSTRAINT [DF_Funcoes_PodeAprovar]  DEFAULT ((0)) FOR [PodeAprovar]
GO
ALTER TABLE [dbo].[Funcoes] ADD  CONSTRAINT [DF_Funcoes_PodeEntregar]  DEFAULT ((0)) FOR [PodeEntregar]
GO
ALTER TABLE [dbo].[Funcoes] ADD  CONSTRAINT [DF_Funcoes_PodeCriarFuncoes]  DEFAULT ((0)) FOR [PodeCriarFuncoes]
GO
ALTER TABLE [dbo].[Funcoes] ADD  CONSTRAINT [DF_Funcoes_PodeAlterarDefinicoes]  DEFAULT ((0)) FOR [PodeAlterarDefinicoes]
GO
ALTER TABLE [dbo].[Funcoes] ADD  CONSTRAINT [DF_Funcoes_CriadoEm]  DEFAULT (sysutcdatetime()) FOR [CriadoEm]
GO
ALTER TABLE [dbo].[PedidoRegistos] ADD  CONSTRAINT [DF__PedidoReg__Estad__2610A626]  DEFAULT ('Pendente') FOR [Estado]
GO
ALTER TABLE [dbo].[PedidoRegistos] ADD  CONSTRAINT [DF__PedidoRegis__PDF__41EDCAC5]  DEFAULT ((0)) FOR [PDF]
GO
ALTER TABLE [dbo].[PedidoRegistos] ADD  CONSTRAINT [DF_PedidoRegistos_CriacaoData]  DEFAULT (getdate()) FOR [CriacaoData]
GO
ALTER TABLE [dbo].[AcessoFuncoes]  WITH NOCHECK ADD  CONSTRAINT [AcessoFuncoesID_FuncoesID] FOREIGN KEY([FuncaoID])
REFERENCES [dbo].[Funcoes] ([ID])
GO
ALTER TABLE [dbo].[AcessoFuncoes] CHECK CONSTRAINT [AcessoFuncoesID_FuncoesID]
GO
ALTER TABLE [dbo].[AcessoFuncoes]  WITH NOCHECK ADD  CONSTRAINT [FK_AcessoFuncoes_Acessos] FOREIGN KEY([AcessoID])
REFERENCES [dbo].[Acessos] ([ID])
GO
ALTER TABLE [dbo].[AcessoFuncoes] CHECK CONSTRAINT [FK_AcessoFuncoes_Acessos]
GO
ALTER TABLE [dbo].[EPI]  WITH NOCHECK ADD  CONSTRAINT [FK_EPI_Acessos] FOREIGN KEY([Acesso])
REFERENCES [dbo].[Acessos] ([ID])
GO
ALTER TABLE [dbo].[EPI] CHECK CONSTRAINT [FK_EPI_Acessos]
GO
ALTER TABLE [dbo].[FuncionarioDispositivo]  WITH CHECK ADD  CONSTRAINT [FK_FuncDispositivo_Dispositivos] FOREIGN KEY([IDDispositivo])
REFERENCES [dbo].[Dispositivos] ([IDDispositivo])
GO
ALTER TABLE [dbo].[FuncionarioDispositivo] CHECK CONSTRAINT [FK_FuncDispositivo_Dispositivos]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [FK_Funcionarios_AlteradoPor] FOREIGN KEY([AlteradoPor])
REFERENCES [dbo].[Funcionarios] ([Nr])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [FK_Funcionarios_AlteradoPor]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [FK_Funcionarios_CriadoPor] FOREIGN KEY([CriadoPor])
REFERENCES [dbo].[Funcionarios] ([Nr])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [FK_Funcionarios_CriadoPor]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [FuncoesID_FuncionariosFuncoes] FOREIGN KEY([Funcao])
REFERENCES [dbo].[Funcoes] ([ID])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [FuncoesID_FuncionariosFuncoes]
GO
ALTER TABLE [dbo].[LogIn]  WITH CHECK ADD  CONSTRAINT [FK_LogIn_Funcionarios] FOREIGN KEY([Nr])
REFERENCES [dbo].[Funcionarios] ([Nr])
GO
ALTER TABLE [dbo].[LogIn] CHECK CONSTRAINT [FK_LogIn_Funcionarios]
GO
ALTER TABLE [dbo].[PedidoPacote]  WITH NOCHECK ADD  CONSTRAINT [FK_PedidoPacote_EPI] FOREIGN KEY([IDEPI])
REFERENCES [dbo].[EPI] ([ID])
GO
ALTER TABLE [dbo].[PedidoPacote] CHECK CONSTRAINT [FK_PedidoPacote_EPI]
GO
ALTER TABLE [dbo].[PedidoPacote]  WITH NOCHECK ADD  CONSTRAINT [FK_PedidoPacote_PedidoRegistos] FOREIGN KEY([IDPedReg])
REFERENCES [dbo].[PedidoRegistos] ([ID])
GO
ALTER TABLE [dbo].[PedidoPacote] CHECK CONSTRAINT [FK_PedidoPacote_PedidoRegistos]
GO
ALTER TABLE [dbo].[PedidoRegistos]  WITH CHECK ADD  CONSTRAINT [FK_PedidoRegistos_AlteradoPor] FOREIGN KEY([AlteradoPor])
REFERENCES [dbo].[Funcionarios] ([Nr])
GO
ALTER TABLE [dbo].[PedidoRegistos] CHECK CONSTRAINT [FK_PedidoRegistos_AlteradoPor]
GO
ALTER TABLE [dbo].[PedidoRegistos]  WITH CHECK ADD  CONSTRAINT [FK_PedidoRegistos_CriadoPor] FOREIGN KEY([CriadoPor])
REFERENCES [dbo].[Funcionarios] ([Nr])
GO
ALTER TABLE [dbo].[PedidoRegistos] CHECK CONSTRAINT [FK_PedidoRegistos_CriadoPor]
GO
ALTER TABLE [dbo].[PedidoRegistos]  WITH NOCHECK ADD  CONSTRAINT [FK_PedidoRegistos_Funcionarios] FOREIGN KEY([NrFunc])
REFERENCES [dbo].[Funcionarios] ([Nr])
GO
ALTER TABLE [dbo].[PedidoRegistos] CHECK CONSTRAINT [FK_PedidoRegistos_Funcionarios]
GO
ALTER TABLE [dbo].[RoupaPacote]  WITH NOCHECK ADD  CONSTRAINT [FK_RoupaPacote_PedidoRegistos] FOREIGN KEY([IDPedReg])
REFERENCES [dbo].[PedidoRegistos] ([ID])
GO
ALTER TABLE [dbo].[RoupaPacote] CHECK CONSTRAINT [FK_RoupaPacote_PedidoRegistos]
GO
ALTER TABLE [dbo].[RoupaPacote]  WITH NOCHECK ADD  CONSTRAINT [FK_RoupaPacote_Roupa] FOREIGN KEY([IDRoupa])
REFERENCES [dbo].[Roupa] ([ID])
GO
ALTER TABLE [dbo].[RoupaPacote] CHECK CONSTRAINT [FK_RoupaPacote_Roupa]
GO
/****** Object:  StoredProcedure [dbo].[GetFuncionarioInfo]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFuncionarioInfo]
    @NrFunc INT,
    @Nome NVARCHAR(100) OUTPUT,
    @Funcao NVARCHAR(100) OUTPUT
AS
BEGIN
    SELECT @Nome = Nome, @Funcao = Funcao FROM Funcionarios WHERE Nr = @NrFunc;
END 
GO
/****** Object:  StoredProcedure [dbo].[sp_AlterarPassword]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure para alterar a password de forma segura
CREATE   PROCEDURE [dbo].[sp_AlterarPassword]
    @NrFunc INT,
    @NovaPasswordHash NVARCHAR(MAX) -- Vamos enviar já encriptada da API
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM LogIn WHERE Nr = @NrFunc)
    BEGIN
        UPDATE LogIn
        SET Password = @NovaPasswordHash
        WHERE Nr = @NrFunc
    END
    ELSE
    BEGIN
        -- Se o user existe mas não tem login criado, cria agora
        IF EXISTS (SELECT 1 FROM Funcionarios WHERE Nr = @NrFunc)
        BEGIN
            INSERT INTO LogIn (Nr, Password)
            VALUES (@NrFunc, @NovaPasswordHash)
        END
        ELSE
        BEGIN
            RAISERROR('Funcionário não existe.', 16, 1);
        END
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AtualizaOuInsereStock]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[sp_AtualizaOuInsereStock]
    @ID INT,
    @Familia NVARCHAR(50),
    @Modelo NVARCHAR(50),
    @Tamanho NVARCHAR(20),
    @Acesso NVARCHAR(20),
    @Quantidade INT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM EPI WHERE ID = @ID)
    BEGIN
        UPDATE EPI
        SET Quantidade = Quantidade + @Quantidade
        WHERE ID = @ID
    END
    ELSE
    BEGIN
        DECLARE @NovoID INT
        SELECT @NovoID = ISNULL(MAX(ID), 0) + 1 FROM EPI

        INSERT INTO EPI(ID, Familia, Modelo, Tamanho, Acesso, Quantidade)
        VALUES (@NovoID, @Familia, @Modelo, @Tamanho, @Acesso, @Quantidade)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AtualizarDefinicao]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AtualizarDefinicao]
    @Chave NVARCHAR(100),
    @Valor NVARCHAR(500),
    @AlteradoPor INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Definicoes WHERE Chave = @Chave)
    BEGIN
        UPDATE Definicoes
        SET Valor = @Valor,
            DataAlteracao = GETDATE(),
            AlteradoPor = @AlteradoPor
        WHERE Chave = @Chave;
    END
    ELSE
    BEGIN
        INSERT INTO Definicoes (Chave, Valor, Tipo, DataAlteracao, AlteradoPor)
        VALUES (@Chave, @Valor, NULL, GETDATE(), @AlteradoPor);
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AtualizarPermissoesFuncao]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AtualizarPermissoesFuncao]
    @ID                     INT,
    @PodeVerStock           BIT,
    @PodeCriarStock         BIT,
    @PodeInserirStock       BIT,
    @PodeEditarFunc         BIT,
    @PodeSubmeter           BIT,
    @PodeAprovar            BIT,
    @PodeEntregar           BIT,
    @PodeCriarFuncoes       BIT,
    @PodeAlterarDefinicoes  BIT,
    @AlteradoPor            INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Funcoes
    SET PodeVerStock          = @PodeVerStock,
        PodeCriarStock        = @PodeCriarStock,
        PodeInserirStock      = @PodeInserirStock,
        PodeEditarFunc        = @PodeEditarFunc,
        PodeSubmeter          = @PodeSubmeter,
        PodeAprovar           = @PodeAprovar,
        PodeEntregar          = @PodeEntregar,
        PodeCriarFuncoes      = @PodeCriarFuncoes,
        PodeAlterarDefinicoes = @PodeAlterarDefinicoes,
        AlteradoPor           = @AlteradoPor,
        AlteradoEm            = SYSUTCDATETIME()
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AtualizarQuantidadePedidoPacote]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AtualizarQuantidadePedidoPacote]
    @IDPedido INT,
    @IDEPI INT,
    @NovaQuantidade INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PedidoPacote
    SET Quantidade = @NovaQuantidade
    WHERE IDPedReg = @IDPedido AND IDEPI = @IDEPI;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AtualizarTamanhoFuncionario]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AtualizarTamanhoFuncionario]
    @NrFuncionario INT,
    @IDResp INT,
    @NovoTamanho NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Familia NVARCHAR(100);

    -- Obter a família com base no ID do EPI
    SELECT @Familia = Familia
    FROM EPI
    WHERE ID = @IDResp;

    -- Verifica se encontrou a família
    IF @Familia IS NULL
    BEGIN
        RAISERROR('ID do EPI não encontrado na tabela EPI.', 16, 1);
        RETURN;
    END

    -- Atualizar o campo da família na tabela Funcionarios
    DECLARE @SQL NVARCHAR(MAX) = '
        UPDATE Funcionarios
        SET ' + QUOTENAME(@Familia) + ' = @NovoTamanho
        WHERE Nr = @NrFuncionario
    ';

    EXEC sp_executesql @SQL,
        N'@NrFuncionario INT, @NovoTamanho NVARCHAR(50)',
        @NrFuncionario = @NrFuncionario,
        @NovoTamanho = @NovoTamanho;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscaInfoFuncAtivo]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_BuscaInfoFuncAtivo]
    @Nr INT
AS
BEGIN
    SELECT
        f.Nome,
        fun.Nome AS Funcao
    FROM Funcionarios f
    JOIN Funcoes fun ON fun.ID = f.Funcao
    WHERE f.Nr = @Nr;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CarregarPedidosPorEstado]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CarregarPedidosPorEstado]
    @Estado NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Estado = 'Finalizado'
    BEGIN
        SELECT R.ID, R.Data, R.NrFunc, F.Nome AS NomeFunc, Fu.Nome AS Funcao, Fu.CorHex AS Funcao,
               R.Estado, FA.Nome AS NomeAprovador, R.Entrega, R.Notas, R.PDF
        FROM PedidoRegistos R
        JOIN Funcionarios F ON F.Nr = R.NrFunc
        JOIN Funcoes Fu ON Fu.ID = F.Funcao
        LEFT JOIN Funcionarios FA ON FA.Nr = R.Aprovacao
        WHERE R.Estado IN ('Finalizado', 'Rejeitado')
        ORDER BY R.ID
    END
    ELSE
    BEGIN
        SELECT R.ID, R.Data, R.NrFunc, F.Nome AS NomeFunc, Fu.Nome AS Funcao, Fu.CorHex AS Funcao,
               R.Estado, FA.Nome AS NomeAprovador, R.Entrega, R.PDF
        FROM PedidoRegistos R
        JOIN Funcionarios F ON F.Nr = R.NrFunc
        JOIN Funcoes Fu ON Fu.ID = F.Funcao
        LEFT JOIN Funcionarios FA ON FA.Nr = R.Aprovacao
        WHERE R.Estado = @Estado
        ORDER BY R.ID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsumoPorFuncionario]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConsumoPorFuncionario]
    @NrFunc INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        E.Modelo,
        SUM(P.Quantidade) AS TotalConsumido
    FROM PedidoRegistos R
    JOIN PedidoPacote P ON P.IDPedReg = R.ID
    JOIN EPI E ON E.ID = P.IDEPI
    WHERE R.NrFunc = @NrFunc AND R.Estado = 'Finalizado'
    GROUP BY E.Modelo
    ORDER BY TotalConsumido DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConsumosFiltradosRaw]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ConsumosFiltradosRaw]
(
    @NrFunc       INT            = NULL,
    @Funcoes      NVARCHAR(MAX)  = NULL, -- lista CSV de IDs
    @Familias     NVARCHAR(MAX)  = NULL,
    @Modelos      NVARCHAR(MAX)  = NULL,
    @Tamanhos     NVARCHAR(MAX)  = NULL,
    @DataInicio   DATE           = NULL,
    @DataFim      DATE           = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        pr.Data,

        f.Nr                    AS NrFunc,
        f.Nome                  AS NomeFuncionario,
        fu.Nome                 AS Funcao,        -- 👈 nome, não ID

        e.Familia,
        e.Modelo,
        e.Tamanho,

        pp.Quantidade,

        -- --- NOVO: ADICIONADO PARA O SITE (O Desktop ignora isto) ---
        ISNULL(e.Preco, 0)                  AS PrecoUnitario,
        (pp.Quantidade * ISNULL(e.Preco, 0)) AS TotalGasto
        -- ------------------------------------------------------------

    FROM PedidoRegistos pr
    INNER JOIN PedidoPacote pp   ON pp.IDPedReg = pr.ID
    INNER JOIN EPI e             ON e.ID = pp.IDEPI
    INNER JOIN Funcionarios f    ON f.Nr = pr.NrFunc
    LEFT  JOIN Funcoes fu        ON fu.ID = f.Funcao

    WHERE
        pr.Estado = 'Finalizado'

        AND (@NrFunc IS NULL OR f.Nr = @NrFunc)

        AND (
            @Funcoes IS NULL
            OR f.Funcao IN (
                SELECT TRY_CAST(value AS INT)
                FROM STRING_SPLIT(@Funcoes, ',')
            )
        )

        AND (
            @Familias IS NULL
            OR e.Familia IN (
                SELECT value FROM STRING_SPLIT(@Familias, ',')
            )
        )

        AND (
            @Modelos IS NULL
            OR e.Modelo IN (
                SELECT value FROM STRING_SPLIT(@Modelos, ',')
            )
        )

        AND (
            @Tamanhos IS NULL
            OR e.Tamanho IN (
                SELECT value FROM STRING_SPLIT(@Tamanhos, ',')
            )
        )

        AND (@DataInicio IS NULL OR pr.Data >= @DataInicio)
        AND (@DataFim    IS NULL OR pr.Data <= @DataFim)

    ORDER BY
        pr.Data DESC,
        f.Nome,
        e.Modelo,
        e.Tamanho;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DefinirDispositivoNotificacoes]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DefinirDispositivoNotificacoes]
    @IDFuncionario INT,
    @NomePC        NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IDDispositivo INT;

    SELECT @IDDispositivo = IDDispositivo
    FROM Dispositivos
    WHERE NomePC = @NomePC;

    IF @IDDispositivo IS NULL
    BEGIN
        RAISERROR('Dispositivo não registado.', 16, 1);
        RETURN;
    END

    -- Desativar todos os dispositivos do funcionário
    UPDATE FuncionarioDispositivo
    SET RecebeNotificacoes = 0
    WHERE IDFuncionario = @IDFuncionario;

    -- Ativar só este
    UPDATE FuncionarioDispositivo
    SET RecebeNotificacoes = 1
    WHERE IDFuncionario = @IDFuncionario
      AND IDDispositivo   = @IDDispositivo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DetalhesDaDevolucao]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DetalhesDaDevolucao]
    @IDPedido INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
		R.ID,
        R.Modelo,
        R.Tamanho,
        RP.Quantidade AS QuantidadeDevolvida
    FROM RoupaPacote RP
    INNER JOIN Roupa R ON R.ID = RP.IDRoupa
    WHERE RP.IDPedReg = @IDPedido
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DetalhesDoPedido]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DetalhesDoPedido]
    @IDPedido INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
		E.ID,
        E.Modelo,
        E.Tamanho,
        E.Quantidade AS QuantidadeDisponivel,
        P.Quantidade AS QuantidadePedida
    FROM PedidoPacote P
    INNER JOIN EPI E ON E.ID = P.IDEPI
    WHERE P.IDPedReg = @IDPedido
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FinalizarPedido]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FinalizarPedido]
    @ID INT
AS
BEGIN
    UPDATE PedidoRegistos SET Estado = 'Finalizado' WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GerarConsumosAleatorios]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GerarConsumosAleatorios]
(
    @QtdRegistos INT = 1000,          -- nº de pedidos a gerar
    @DataInicio  DATE = '2026-01-01', -- limite mínimo de datas
    @DataFim     DATE = NULL,         -- se NULL, usa hoje
    @NrCriador   INT  = 1             -- Nr de funcionário usado em CriadoPor/AlteradoPor
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @DataFim IS NULL
        SET @DataFim = CAST(GETDATE() AS DATE);

    IF @QtdRegistos <= 0
    BEGIN
        RAISERROR('QtdRegistos tem de ser > 0', 16, 1);
        RETURN;
    END;

    -------------------------------------------------------------------------
    -- 0) Validar se o NrCriador existe (FK em CriadoPor / AlteradoPor)
    -------------------------------------------------------------------------
    IF NOT EXISTS (SELECT 1 FROM Funcionarios WHERE Nr = @NrCriador)
    BEGIN
        RAISERROR('O NrCriador não existe na tabela Funcionarios.', 16, 1);
        RETURN;
    END;

    -------------------------------------------------------------------------
    -- 1) Listas de Funcionários e EPIs válidos
    -------------------------------------------------------------------------
    DECLARE @Funcs TABLE
    (
        RowNum INT IDENTITY(1,1),
        NrFunc INT
    );

    INSERT INTO @Funcs (NrFunc)
    SELECT Nr
    FROM   Funcionarios
    WHERE  Nr IN (1, 70, 101, 210, 464, 472, 666, 673, 816,
                  1000, 1002, 1003, 1006, 1007, 1008, 1009,
                  1010, 1014, 1015, 1016, 1022, 1023, 1027,
                  1028, 1077, 3333, 9999);

    DECLARE @QtdFuncs INT = (SELECT COUNT(*) FROM @Funcs);

    IF @QtdFuncs = 0
    BEGIN
        RAISERROR('Nenhum funcionário encontrado para os Nrs definidos.', 16, 1);
        RETURN;
    END;

    DECLARE @Epis TABLE
    (
        RowNum INT IDENTITY(1,1),
        IDEPI  INT
    );

    INSERT INTO @Epis (IDEPI)
    SELECT ID
    FROM   EPI
    WHERE  (ID BETWEEN 1 AND 61)
       OR  (ID BETWEEN 163 AND 211);

    DECLARE @QtdEpis INT = (SELECT COUNT(*) FROM @Epis);

    IF @QtdEpis = 0
    BEGIN
        RAISERROR('Nenhum EPI encontrado nos intervalos configurados.', 16, 1);
        RETURN;
    END;

    -------------------------------------------------------------------------
    -- 2) Loop de geração dos registos
    -------------------------------------------------------------------------
    DECLARE 
        @i               INT = 1,
        @randFuncIdx     INT,
        @randEpiIdx      INT,
        @NrFunc          INT,
        @IDEPI           INT,
        @QtdLinha        INT,
        @LinhasPorPedido INT,
        @IDPedReg        INT,
        @DataPedido      DATETIME,
        @DiasIntervalo   INT;

    SET @DiasIntervalo = DATEDIFF(DAY, @DataInicio, @DataFim);
    IF @DiasIntervalo < 0 SET @DiasIntervalo = 0;

    WHILE @i <= @QtdRegistos
    BEGIN
        ---------------------------------------------------------------------
        -- 2.1) Funcionário aleatório
        ---------------------------------------------------------------------
        SET @randFuncIdx = (ABS(CHECKSUM(NEWID())) % @QtdFuncs) + 1;

        SELECT @NrFunc = NrFunc
        FROM   @Funcs
        WHERE  RowNum = @randFuncIdx;

        ---------------------------------------------------------------------
        -- 2.2) Data aleatória
        ---------------------------------------------------------------------
        SET @DataPedido = DATEADD(
                              DAY,
                              CASE WHEN @DiasIntervalo = 0 
                                   THEN 0
                                   ELSE ABS(CHECKSUM(NEWID())) % (@DiasIntervalo + 1)
                              END,
                              @DataInicio
                          );

        ---------------------------------------------------------------------
        -- 2.3) Inserir PedidoRegistos
        ---------------------------------------------------------------------
        INSERT INTO PedidoRegistos
        (
            Data,
            NrFunc,
            Estado,
            Aprovacao,
            Entrega,
            PDF,
            Notas,
            CriacaoData,
            CriadoPor,
            AlteracaoData,
            AlteradoPor
        )
        VALUES
        (
            @DataPedido,                     -- Data
            @NrFunc,                         -- NrFunc
            'Pendente',                      -- Estado
            1,                               -- Aprovacao
            1,                               -- Entrega
            NULL,                            -- PDF
            '[TEST] Registo gerado aleatoriamente para consumo', -- Notas
            GETDATE(),                       -- CriacaoData
            @NrCriador,                      -- CriadoPor (FK para Funcionarios.Nr)
            GETDATE(),                       -- AlteracaoData
            @NrCriador                       -- AlteradoPor (FK)
        );

        SET @IDPedReg = SCOPE_IDENTITY();

        ---------------------------------------------------------------------
        -- 2.4) Nº de linhas de pacote (1..5)
        ---------------------------------------------------------------------
        SET @LinhasPorPedido = (ABS(CHECKSUM(NEWID())) % 5) + 1;

        DECLARE @j INT = 1;

        WHILE @j <= @LinhasPorPedido
        BEGIN
            -----------------------------------------------------------------
            -- 2.5) EPI aleatório
            -----------------------------------------------------------------
            SET @randEpiIdx = (ABS(CHECKSUM(NEWID())) % @QtdEpis) + 1;

            SELECT @IDEPI = IDEPI
            FROM   @Epis
            WHERE  RowNum = @randEpiIdx;

            -----------------------------------------------------------------
            -- 2.6) Quantidade aleatória 1..5
            -----------------------------------------------------------------
            SET @QtdLinha = (ABS(CHECKSUM(NEWID())) % 5) + 1;

            INSERT INTO PedidoPacote
            (
                IDPedReg,
                IDEPI,
                Quantidade
            )
            VALUES
            (
                @IDPedReg,
                @IDEPI,
                @QtdLinha
            );

            SET @j += 1;
        END;

        SET @i += 1;
    END;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFuncionarioDetails]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Cria ou altera a stored procedure
CREATE PROCEDURE [dbo].[sp_GetFuncionarioDetails]
    @IDPedido INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Selecione as colunas necessárias da tabela Funcionarios, fazendo join com PedidoRegistos
    SELECT F.Nr, F.Nome, F.Funcao
    FROM Funcionarios F
    JOIN PedidoRegistos PR ON F.Nr = PR.NrFunc
    WHERE PR.ID = @IDPedido;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetItensPorFuncionario]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetItensPorFuncionario]
    @NrFunc INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Sql NVARCHAR(MAX);
    DECLARE @TableName NVARCHAR(50);
    DECLARE @TamanhoTShirt NVARCHAR(10), @TamanhoCasaco NVARCHAR(10), @TamanhoPoloMCurta NVARCHAR(10), @TamanhoPoloMCompr NVARCHAR(10), @TamanhoCalca NVARCHAR(10);

    -- Obter a função do funcionário que determina a tabela e os tamanhos dos itens
    SELECT 
        @TamanhoTShirt = TShirt,
        @TamanhoCasaco = Casaco,
        @TamanhoPoloMCurta = PoloMCurta,
        @TamanhoPoloMCompr = PoloMCompr,
        @TamanhoCalca = Calca
    FROM Funcionarios
    WHERE Nr = @NrFunc;

    -- Construir a consulta SQL dinâmica para todos os itens de vestuário
    SET @Sql = CONCAT(
        'SELECT ''TShirt'' AS Categoria, ID, Modelo,  Quantidade FROM EPI WHERE Familia = ''TShirt'' AND Tamanho = @TamanhoTShirt UNION ALL ',
        'SELECT ''Casaco'' AS Categoria, ID, Modelo,  Quantidade FROM EPI WHERE Familia = ''Casaco'' AND Tamanho = @TamanhoCasaco UNION ALL ',
        'SELECT ''PoloMCurta'' AS Categoria, ID, Modelo,  Quantidade FROM EPI WHERE Familia = ''PoloMCurta'' AND Tamanho = @TamanhoPoloMCurta UNION ALL ',
        'SELECT ''PoloMCompr'' AS Categoria, ID, Modelo,  Quantidade FROM EPI WHERE Familia = ''PoloMCompr'' AND Tamanho = @TamanhoPoloMCompr UNION ALL ',
        'SELECT ''Calca'' AS Categoria, ID, Modelo, Quantidade FROM EPI WHERE Familia = ''Calca'' AND Tamanho = @TamanhoCalca'
    );

    -- Parâmetros para sp_executesql
    EXEC sp_executesql @Sql, 
        N'@TamanhoTShirt NVARCHAR(10), @TamanhoCasaco NVARCHAR(10), @TamanhoPoloMCurta NVARCHAR(10), @TamanhoPoloMCompr NVARCHAR(10), @TamanhoCalca NVARCHAR(10)',
        @TamanhoTShirt, @TamanhoCasaco, @TamanhoPoloMCurta, @TamanhoPoloMCompr, @TamanhoCalca;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetNomeFunc]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetNomeFunc]
    @IDPedReg INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        f.Nome
    FROM PedidoRegistos pr
    INNER JOIN Funcionarios f
        ON f.Nr = pr.NrFunc
    WHERE pr.ID = @IDPedReg;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTamanhosPorModelo]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTamanhosPorModelo]
    @Modelo VARCHAR(100)
AS
BEGIN
    SELECT DISTINCT Tamanho
    FROM EPI
    WHERE Modelo = @Modelo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HistoricoPorFuncionario]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HistoricoPorFuncionario]
    @NrFunc INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        R.Data,
        E.Modelo,
        E.Tamanho,
        SUM(P.Quantidade) AS QuantidadeTotal
    FROM PedidoRegistos R
    JOIN PedidoPacote P ON P.IDPedReg = R.ID
    JOIN EPI E ON E.ID = P.IDEPI
    WHERE R.NrFunc = @NrFunc AND R.Estado = 'Finalizado'
    GROUP BY R.Data, E.Modelo, E.Tamanho
    ORDER BY R.Data DESC, E.Modelo, E.Tamanho;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InserirFuncao]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InserirFuncao]
    @ID          INT = NULL,      -- Se NULL, cria novo. Se preenchido, edita.
    @Nome        NVARCHAR(100),
    @CorHex      NVARCHAR(20),    -- NOVO: Código da cor (ex: #FF0000)
    @CriadoPor   INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verifica se é para ATUALIZAR (tem ID e o ID existe)
    IF @ID IS NOT NULL AND EXISTS (SELECT 1 FROM Funcoes WHERE ID = @ID)
    BEGIN
        UPDATE Funcoes
        SET Nome = @Nome,
            CorHex = @CorHex      -- Atualiza a cor
        WHERE ID = @ID;

        SELECT @ID AS NovoID;
    END
    -- Senão, é para INSERIR
    ELSE
    BEGIN
        INSERT INTO Funcoes (Nome, CriadoPor, CorHex)
        VALUES (@Nome, @CriadoPor, @CorHex); -- Insere a cor

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS NovoID;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEPINaoUnicos]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarEPINaoUnicos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        E.Familia,
        E.Modelo,
        E.Tamanho,
        E.Quantidade
    FROM EPI E
    WHERE E.Acesso IN (
        SELECT AF.AcessoID
        FROM AcessoFuncoes AF
        GROUP BY AF.AcessoID
        HAVING COUNT(DISTINCT AF.FuncaoID) > 1
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEPIporFuncao]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarEPIporFuncao]
    @Funcao NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        E.Familia,
        E.Modelo,
        E.Tamanho,
        E.Quantidade
    FROM EPI E
    INNER JOIN Acessos A ON A.ID = E.Acesso
    WHERE EXISTS (
        SELECT 1
        FROM AcessoFuncoes AF
        INNER JOIN Funcoes F ON F.ID = AF.FuncaoID
        WHERE AF.AcessoID = A.ID
          AND F.Nome = @Funcao
    )
    AND NOT EXISTS (
        SELECT 1
        FROM AcessoFuncoes AF2
        INNER JOIN Funcoes F2 ON F2.ID = AF2.FuncaoID
        WHERE AF2.AcessoID = A.ID
          AND F2.Nome <> @Funcao
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarFuncionariosComFuncoes]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarFuncionariosComFuncoes]
AS
BEGIN
    SELECT
        f.Nr,
        f.Nome,
        fun.Nome AS Funcao,
        f.TShirt,
        f.Casaco,
        f.PoloMCurta,
        f.PoloMCompr,
        f.Calca,
        f.Sapato,
        f.DtAdmiss,
        f.Estab
    FROM Funcionarios f
    JOIN Funcoes fun ON fun.ID = f.Funcao
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarNomesDasQueries]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarNomesDasQueries]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ID, Nome
    FROM Query
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObterDefinicao]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObterDefinicao]
    @Chave NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Valor
    FROM Definicoes
    WHERE Chave = @Chave;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObterFuncionarioPorNr]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObterFuncionarioPorNr]
    @Nr INT
AS
BEGIN
    SELECT 
        F.Nr,
        F.Nome,
        F.Funcao,
        FN.Nome AS NomeFuncao,  -- Nome da função
        F.TShirt,
        F.Casaco,
        F.PoloMCurta,
        F.PoloMCompr,
        F.Calca,
        F.Sapato,
        F.DtAdmiss,
        F.Estab
    FROM Funcionarios F
    INNER JOIN Funcoes FN ON F.Funcao = FN.ID
    WHERE F.Nr = @Nr
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObterFuncionarioPorPedido]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObterFuncionarioPorPedido]
    @IDPedido INT
AS
BEGIN
    -- Selecionamos o Nome e o Nr do funcionário, e cruzamos o ID da função para obter o Nome da Função em texto
    SELECT 
        F.Nome, 
        F.Nr, 
        FN.Nome AS Funcao
    FROM PedidoRegistos P
    INNER JOIN Funcionarios F ON P.NrFunc = F.Nr
    LEFT JOIN Funcoes FN ON F.Funcao = FN.ID
    WHERE P.ID = @IDPedido
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcurarFuncionarios]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProcurarFuncionarios]
    @Termo NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT f.Nr,
        f.Nome,
        fun.Nome AS Funcao,
        f.TShirt,
        f.Casaco,
        f.PoloMCurta,
        f.PoloMCompr,
        f.Calca,
        f.Sapato,
        f.DtAdmiss,
        f.Estab
    FROM Funcionarios f
    JOIN Funcoes fun ON fun.ID = f.Funcao
    WHERE 
        -- 1. Pesquisa por NOME (Ignorando acentos e maiúsculas)
        -- Ex: Se escreveres 'joao', ele encontra 'João'
        -- Ex: Se escreveres 'ANTÓNIO', ele encontra 'Antonio'
        f.Nome COLLATE Latin1_General_CI_AI LIKE '%' + @Termo + '%' 
        
        OR 
        
        -- 2. Pesquisa por ID (Número convertido em texto)
        CAST(Nr AS NVARCHAR(20)) LIKE '%' + @Termo + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProdutosConsumidosPorFuncionario]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProdutosConsumidosPorFuncionario]
    @NrFunc INT
AS
BEGIN
    SELECT DISTINCT
        E.ID AS IDEPI,
        E.Modelo,
        E.Tamanho
    FROM PedidoPacote PP
    INNER JOIN PedidoRegistos PR ON PP.IDPedReg = PR.ID
    INNER JOIN EPI E ON PP.IDEPI = E.ID
    WHERE PR.NrFunc = @NrFunc AND PR.Estado = 'Concluido'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistaLoginDispositivo]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistaLoginDispositivo]
    @IDFuncionario INT,
    @NomePC        NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IDDispositivo INT;

    SELECT @IDDispositivo = IDDispositivo
    FROM Dispositivos
    WHERE NomePC = @NomePC;

    IF @IDDispositivo IS NULL
    BEGIN
        INSERT INTO Dispositivos (NomePC, UltimoLogin)
        VALUES (@NomePC, GETDATE());

        SET @IDDispositivo = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        UPDATE Dispositivos
        SET UltimoLogin = GETDATE()
        WHERE IDDispositivo = @IDDispositivo;
    END

    -- Garante que pelo menos existe o registo de ligação funcionário–dispositivo
    IF NOT EXISTS (
        SELECT 1 FROM FuncionarioDispositivo
        WHERE IDFuncionario = @IDFuncionario AND IDDispositivo = @IDDispositivo
    )
    BEGIN
        INSERT INTO FuncionarioDispositivo (IDFuncionario, IDDispositivo, RecebeNotificacoes)
        VALUES (@IDFuncionario, @IDDispositivo, 0);  -- por defeito NÃO recebe notificações
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoverEstoqueGenerico]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RemoverEstoqueGenerico]
(
    @IDItem INT,
    @QuantidadeRemover INT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Exemplo com nome de coluna corrigido:
    UPDATE EPI
    SET Quantidade = Quantidade - @QuantidadeRemover
    WHERE ID = @IDItem;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ResetRegistosPEPIDI]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ResetRegistosPEPIDI]
AS
BEGIN
    SET NOCOUNT ON;

    PRINT '--- Reiniciar registos de pedidos e devoluções ---';

    -- ============================
    -- 1. LIMPAR DEVOLUÇÕES
    -- ============================
    PRINT 'A limpar RoupaPacote...';
    DELETE FROM RoupaPacote;

    PRINT 'A limpar Roupa...';
    DELETE FROM Roupa;


    -- ============================
    -- 2. LIMPAR PEDIDOS
    -- ============================
    PRINT 'A limpar PedidoPacote...';
    DELETE FROM PedidoPacote;

    PRINT 'A limpar PedidoRegistos...';
    DELETE FROM PedidoRegistos;


    -- ============================
    -- 3. RESETAR IDENTITY
    -- ============================
    PRINT 'A reiniciar IDs (IDENTITY)...';

    DBCC CHECKIDENT ('RoupaPacote', RESEED, 0);
    DBCC CHECKIDENT ('Roupa', RESEED, 0);

    DBCC CHECKIDENT ('PedidoPacote', RESEED, 0);
    DBCC CHECKIDENT ('PedidoRegistos', RESEED, 0);

    PRINT '--- Reset concluído com sucesso. ---';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RoupaPorFuncionario]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RoupaPorFuncionario]
    @NrFunc INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FuncaoID INT;
    DECLARE @TShirt NVARCHAR(10);
    DECLARE @Casaco NVARCHAR(10);
    DECLARE @PoloMcurta NVARCHAR(10);
    DECLARE @PoloMcompr NVARCHAR(10);
    DECLARE @Calca NVARCHAR(10);
    DECLARE @Sapato NVARCHAR(10);

    -- 1. Buscar ID da função e tamanhos diretamente
    SELECT 
        @FuncaoID = Funcao,
        @TShirt = TShirt,
        @Casaco = Casaco,
        @PoloMcurta = PoloMCurta,
        @PoloMcompr = PoloMCompr,
        @Calca = Calca,
        @Sapato = Sapato
    FROM Funcionarios
    WHERE Nr = @NrFunc;

    -- 2. Obter EPIs disponíveis associados à função e ao tamanho
    SELECT 
        E.ID,
        E.Familia,
        E.Modelo,
        E.Tamanho,
        E.Quantidade
    FROM AcessoFuncoes AF
    INNER JOIN EPI E ON E.Acesso = AF.AcessoID
    WHERE AF.FuncaoID = @FuncaoID
      AND (
            (E.Familia = 'TShirt' AND E.Tamanho = @TShirt)
         OR (E.Familia = 'Casaco' AND E.Tamanho = @Casaco)
         OR (E.Familia = 'PoloMcurta' AND E.Tamanho = @PoloMcurta)
         OR (E.Familia = 'PoloMcompr' AND E.Tamanho = @PoloMcompr)
         OR (E.Familia = 'Calca' AND E.Tamanho = @Calca)
         OR (E.Familia = 'Sapato' AND E.Tamanho = @Sapato)
      );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UPSERT_FUNC]    Script Date: 03/03/2026 10:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UPSERT_FUNC]
    @Modo         CHAR(1),      -- 'I' para Inserir, 'U' para Atualizar
    @Nr           INT,
    @Nome         NVARCHAR(150) = NULL,
    @FuncaoId     INT           = NULL,
    @TShirt       NVARCHAR(10)  = NULL,
    @Casaco       NVARCHAR(10)  = NULL,
    @PoloMCurta   NVARCHAR(10)  = NULL,
    @PoloMCompr   NVARCHAR(10)  = NULL,
    @Calca        INT           = NULL,
    @Sapato       INT           = NULL,
    @DtAdmiss     DATE          = NULL,
    @Estab        NVARCHAR(50)  = NULL,
    @AlteradoPor  INT           = NULL,
    @CriadoPor    INT           = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. VALIDAÇÃO DE MODO
    IF @Modo NOT IN ('I', 'U')
    BEGIN
        RAISERROR ('Modo inválido. Use ''I'' para Inserir ou ''U'' para Atualizar.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        -- ==========================================
        -- MODO INSERIR (I)
        -- ==========================================
        IF @Modo = 'I'
        BEGIN
            -- Bloqueio de Duplicado: O que tu pediste!
            IF EXISTS (SELECT 1 FROM dbo.Funcionarios WHERE Nr = @Nr)
            BEGIN
                RAISERROR ('Erro: Já existe um funcionário registado com o número %d.', 16, 1, @Nr);
                RETURN;
            END

            -- Validação de campos obrigatórios para novos
            IF @Nome IS NULL OR @FuncaoId IS NULL
            BEGIN
                RAISERROR ('Nome e Função são obrigatórios para novos registos.', 16, 1);
                RETURN;
            END

            INSERT INTO dbo.Funcionarios
                (Nr, Nome, Funcao, TShirt, Casaco, PoloMCurta, PoloMCompr,
                 Calca, Sapato, DtAdmiss, Estab, CriadoPor, CriacaoData)
            VALUES
                (@Nr, @Nome, @FuncaoId, @TShirt, @Casaco, @PoloMCurta, @PoloMCompr,
                 @Calca, @Sapato, @DtAdmiss, @Estab, @CriadoPor, GETDATE());

            SELECT 'inserted' AS Acao, @@ROWCOUNT AS RowsAffected;
        END

        -- ==========================================
        -- MODO ATUALIZAR (U)
        -- ==========================================
        ELSE IF @Modo = 'U'
        BEGIN
            -- Verifica se o gajo sequer existe para ser atualizado
            IF NOT EXISTS (SELECT 1 FROM dbo.Funcionarios WHERE Nr = @Nr)
            BEGIN
                RAISERROR ('Erro: Funcionário %d não encontrado para atualização.', 16, 1, @Nr);
                RETURN;
            END

            UPDATE dbo.Funcionarios
            SET Nome        = ISNULL(@Nome, Nome),
                Funcao      = ISNULL(@FuncaoId, Funcao),
                TShirt      = ISNULL(@TShirt, TShirt),
                Casaco      = ISNULL(@Casaco, Casaco),
                PoloMCurta  = ISNULL(@PoloMCurta, PoloMCurta),
                PoloMCompr  = ISNULL(@PoloMCompr, PoloMCompr),
                Calca       = ISNULL(@Calca, Calca),
                Sapato      = ISNULL(@Sapato, Sapato),
                DtAdmiss    = ISNULL(@DtAdmiss, DtAdmiss),
                Estab       = ISNULL(@Estab, Estab),
                AlteradoPor = @AlteradoPor,
                AlteracaoData = GETDATE()
            WHERE Nr = @Nr;

            SELECT 'updated' AS Acao, @@ROWCOUNT AS RowsAffected;
        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
GO
